Repository gschick3/recinv, pull requests merged in 2024-04, with the labels that each got.

#1 add basic REST API for users
  backend/.gitignore
  backend/README.md
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/settings.gradle
  backend/src/main/java/com/recinven/recinvenbackend/RecinvenBackendApplication.java
  backend/src/main/java/com/recinven/recinvenbackend/assembler/UserModelAssembler.java
  backend/src/main/java/com/recinven/recinvenbackend/controller/AuthController.java
  backend/src/main/java/com/recinven/recinvenbackend/controller/UserController.java
  backend/src/main/java/com/recinven/recinvenbackend/dto/UserDto.java
  backend/src/main/java/com/recinven/recinvenbackend/entity/User.java
  backend/src/main/java/com/recinven/recinvenbackend/exceptions/advice/InvalidRequestAdvice.java
  backend/src/main/java/com/recinven/recinvenbackend/exceptions/advice/UserNotFoundAdvice.java
  backend/src/main/java/com/recinven/recinvenbackend/exceptions/exception/InvalidRequestException.java
  backend/src/main/java/com/recinven/recinvenbackend/exceptions/exception/UserNotFoundException.java
  backend/src/main/java/com/recinven/recinvenbackend/mapper/UserMapper.java
  backend/src/main/java/com/recinven/recinvenbackend/payload/request/LoginRequest.java
  backend/src/main/java/com/recinven/recinvenbackend/payload/response/JwtResponse.java
  backend/src/main/java/com/recinven/recinvenbackend/repository/UserRepository.java
  backend/src/main/java/com/recinven/recinvenbackend/security/UserSecurity.java
  backend/src/main/java/com/recinven/recinvenbackend/security/WebSecurityConfig.java
  backend/src/main/java/com/recinven/recinvenbackend/security/jwt/AuthEntryPointJwt.java
  backend/src/main/java/com/recinven/recinvenbackend/security/jwt/AuthTokenFilter.java
  backend/src/main/java/com/recinven/recinvenbackend/security/jwt/JwtUtils.java
  backend/src/main/java/com/recinven/recinvenbackend/security/services/UserDetailsImpl.java
  backend/src/main/java/com/recinven/recinvenbackend/security/services/UserDetailsServiceImpl.java
  backend/src/main/java/com/recinven/recinvenbackend/service/UserService.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/recinven/recinvenbackend/RecinvenBackendApplicationTests.java
Labels: type: feature, location: backend, priority: high

#5 Create products endpoint
  backend/CURLS.md
  backend/README.md
  backend/src/main/java/com/recinven/recinvenbackend/assembler/ProductModelAssembler.java
  backend/src/main/java/com/recinven/recinvenbackend/controller/ProductController.java
  backend/src/main/java/com/recinven/recinvenbackend/controller/UserController.java
  backend/src/main/java/com/recinven/recinvenbackend/dto/ProductDto.java
  backend/src/main/java/com/recinven/recinvenbackend/dto/UserDto.java
  backend/src/main/java/com/recinven/recinvenbackend/entity/Product.java
  backend/src/main/java/com/recinven/recinvenbackend/entity/User.java
  backend/src/main/java/com/recinven/recinvenbackend/exceptions/advice/ProductNotFoundAdvice.java
  backend/src/main/java/com/recinven/recinvenbackend/exceptions/exception/InvalidRequestException.java
  backend/src/main/java/com/recinven/recinvenbackend/exceptions/exception/ProductNotFoundException.java
  backend/src/main/java/com/recinven/recinvenbackend/mapper/ProductMapper.java
  backend/src/main/java/com/recinven/recinvenbackend/mapper/UserMapper.java
  backend/src/main/java/com/recinven/recinvenbackend/repository/ProductRepository.java
  backend/src/main/java/com/recinven/recinvenbackend/service/ProductService.java
  backend/src/main/java/com/recinven/recinvenbackend/service/UserService.java
Labels: type: feature, location: backend, priority: high

#6 Feature/frontend
  frontend/.gitignore
  frontend/css/bootstrap/_media.css
  frontend/css/bootstrap/bootstrap.min.css
  frontend/css/bootstrap/mixins/_border-radius.css
  frontend/css/bootstrap/mixins/_reset-text.css
  frontend/css/bootstrap/mixins/_screen-reader.css
  frontend/css/bootstrap/mixins/_text-hide.css
  frontend/css/bootstrap/mixins/_visibility.css
  frontend/css/bootstrap/utilities/_stretched-link.css
  frontend/css/style.css
  frontend/dialog.html
  frontend/homepage/homepage.css
  frontend/homepage/homepage.html
  frontend/js/bootstrap.min.js
  frontend/js/jquery.min.js
  frontend/js/popper.js
  frontend/login-page/Login.css
  frontend/login-page/Login.html
  frontend/login-page/Login.js
  frontend/login-page/Register.html
  frontend/material-page/material-page.css
  frontend/material-page/material-page.html
  frontend/product-page/product-page.css
  frontend/product-page/product-page.html
  frontend/setting-page/settingpage.css
  frontend/setting-page/settingpage.html
  frontend/transaction/transaction.css
  frontend/transaction/transaction.html
  frontend/transaction/transaction.js
  frontend/transaction/trial.html
Labels: type: feature, location: frontend, priority: medium

#10 Feature/transasction page popup
  .gitignore
  backend/CURLS.md
  backend/README.md
  backend/src/main/java/com/recinven/recinvenbackend/assembler/ProductModelAssembler.java
  backend/src/main/java/com/recinven/recinvenbackend/controller/ProductController.java
  backend/src/main/java/com/recinven/recinvenbackend/controller/UserController.java
  backend/src/main/java/com/recinven/recinvenbackend/dto/ProductDto.java
  backend/src/main/java/com/recinven/recinvenbackend/dto/UserDto.java
  backend/src/main/java/com/recinven/recinvenbackend/entity/Product.java
  backend/src/main/java/com/recinven/recinvenbackend/entity/User.java
  backend/src/main/java/com/recinven/recinvenbackend/exceptions/advice/ProductNotFoundAdvice.java
  backend/src/main/java/com/recinven/recinvenbackend/exceptions/exception/InvalidRequestException.java
  backend/src/main/java/com/recinven/recinvenbackend/exceptions/exception/ProductNotFoundException.java
  backend/src/main/java/com/recinven/recinvenbackend/mapper/ProductMapper.java
  backend/src/main/java/com/recinven/recinvenbackend/mapper/UserMapper.java
  backend/src/main/java/com/recinven/recinvenbackend/repository/ProductRepository.java
  backend/src/main/java/com/recinven/recinvenbackend/service/ProductService.java
  backend/src/main/java/com/recinven/recinvenbackend/service/UserService.java
  frontend/login-page/Login.html
  frontend/transaction/transaction.css
  frontend/transaction/transaction.html
  frontend/transaction/transaction.js
Labels: type: feature, location: backend, priority: medium
